
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Profiles collection:
    // - Users can create their own profile.
    // - Users can read, update their own profile.
    // - Public can read a profile for the emergency page.
    match /profiles/{userId} {
      allow read: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }

    // Documents collection:
    // - Users can create documents for themselves.
    // - Users can read, and delete their own documents.
    // - Public can read a document for the share page.
    match /documents/{documentId} {
        allow read: if true;
        allow create, delete: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
